{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/auth.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block top_header_content %}
    {{ parent() }}
{% endblock %}

{% block bottom_header_content %}
    {# Ce bloc est laissé vide pour ne pas afficher le contenu #}
{% endblock %}

{% block body %}
    <main>
        <div class="auth-container">
            <h1 class="auth-title">Connexion</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info">
                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <form method="post" class="auth-form">
                {# Champ Email #}
                <label for="username" class="auth-label">Email</label>
                <div class="form-group-with-icon">
                    <i class="fa fa-envelope form-icon"></i>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="auth-input" autocomplete="email" required autofocus>
                </div>

            <label for="password" class="auth-label">Mot de passe</label>
            <div class="form-group-with-icon password-group">

                <i class="fa fa-lock form-icon" aria-hidden="true"></i>
                <input 
                    type="password" 
                    name="_password" 
                    id="password" 
                    class="auth-input" 
                    autocomplete="current-password" 
                    required>
                <span 
                    class="password-toggle" 
                    onclick="togglePasswordVisibility('password')">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </span>
            </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="auth-button">
                    Se connecter
                </button>
                
                <p class="auth-link">
                    Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">S'inscrire</a>
                </p>
            </form>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/auth.js') }}"></script>
{% endblock %}