{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/auth.css') }}">
{% endblock %}

{% block top_header_content %}
    {{ parent() }}
{% endblock %}

{% block bottom_header_content %}
    {# Ce bloc est laissé vide pour ne pas afficher le contenu #}
{% endblock %}

{% block body %}
    <main>
        <div class="auth-container">
            <h1 class="auth-title">Connexion</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info">
                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <form method="post" class="auth-form">
                <label for="username" class="auth-label">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="auth-input" autocomplete="email" required autofocus>

                <label for="password" class="auth-label">Mot de passe</label>
                <input type="password" name="_password" id="password" class="auth-input" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="auth-button">
                    Se connecter
                </button>

                <p class="auth-link">
                    Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">S'inscrire</a>
                </p>
            </form>
        </div>
    </main>
{% endblock %}